body {
    background-color: black;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 9vw;
}

video {
    width: 100%;
    height: auto;
  }

p {
    font-size: 4vw;
    text-align: left;
}

button {
    size: 30px;
}

iframe {
    align="center";
}